<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%-include("partials/nav")%>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, cupiditate alias. Maiores vitae, sequi consequuntur quidem, 
    est praesentium rerum voluptatum corrupti neque blanditiis, reprehenderit sed explicabo iste debitis repellat amet tempore velit! Libero,
     sit repudiandae et quaerat ducimus rerum iure, saepe, dolorem eligendi fugit odit nostrum aperiam cumque optio! Sapiente?</p>
</body>
</html>